/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#pagewrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#footer-push,
#footer {
  height: 40px;
}

/* Custom page CSS
-------------------------------------------------- */
#wrap > .container {
  min-height:400px;
}
#footer {
  background-color: #585858;
  color: #ffffff;
}

.footercopy {
    margin: 10px;
    text-align: center;
}

@media (max-width: 768px) {
  .nav-to-site {
      padding-top:0px;
  }
}
@media (min-width: 768px) {
	.nav-to-site {
	    padding-top:25px;
	}
}
